/* Form styles */
.form {
  width: 100%;
}

.form_group {
  margin-bottom: 15px;
}

.form_group.message {
  margin-top: 40px;
}

/* Input and textarea base styles */
.form input,
.form textarea,
.form_group input,
.form_group textarea {
  width: 100%;
  color: var(--text-primary);
  outline: none;
}

/* Form specific styles */
.form input,
.form textarea {
  padding: 10px 15px;
  margin-bottom: 0.5rem;
  background: var(--background);
  border: 2px solid var(--shade-soft);
  /* border-radius: 5px; */
}

/* Form group specific styles */
.form_group input,
.form_group textarea {
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 4px solid var(--shade-dark);
  font-size: 14px;
  text-transform: uppercase;
  transition: border-color 0.2s;
}

/* Focus states */
.form_group input:focus,
.form_group textarea:focus {
  caret-color: var(--text-primary);
  transform: translateY(-2px);
  border: 4px solid var(--text-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 4px;
}

/* Placeholder styles */
.form_group input::placeholder,
.form_group textarea::placeholder {
  color: var(--text-secondary);
}

.form_group label {
  color: var(--text-primary);
}

.form button {
  color: var(--text-primary);
}

/* Success and Error Messages */
.success,
.error {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: center;
}

.success {
  border: 2px solid var(--accent);
  background-color: var(--shade-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--text-primary);
}

.success p {
  color: var(--text-primary);
}

.error {
  background-color: rgba(255, 0, 0, 0.7);
  border: 4px solid var(--text-primary);
  color: white;
}

/* reCAPTCHA */
.recaptcha_container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .recaptcha_container {
    transform: scale(0.85);
    transform-origin: left center;
  }
}
