.contact_section {
  padding: 6px 0px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
}
.contact_info_title h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  border: 4px solid var(--shade-dark);
  padding: 10px;
  border-radius: 12px;
  background-color: var(--background);
  text-align: center;
}
.contact_list_item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  column-gap: 1rem;
}
.contact_list_item span i {
  color: var(--accent);
  font-size: 1.6rem;
  padding: 5px;
  border-radius: 5px;
  background: var(--text-primary);
  border: 2px solid var(--accent);
}
.contact_social_links {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  column-gap: 1rem;
  color: var(--accent);
  font-size: 2rem;
  cursor: pointer;
  justify-content: space-around;
}
.contact_social_links a {
  display: inline-block;
  transition: color 0.3s ease;
}

.contact_social_links a:hover {
  color: var(--text-primary);
  animation: flip-in-ver-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.contact_container {
  border: 4px solid var(--text-primary);
  border-radius: 13px;
  padding: 10px;
  background-color: var(--shade-soft);
}
.contact_info_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact_info_image img {
  display: block;
  width: 100%;
  max-width: 450px;
  height: auto;
  border: 4px solid white;
  border-radius: 10px;
}
.contact_info {
  display: flex;
  flex-direction: column;
}

[data-theme="dark"] .contact_info_image img {
  filter: invert(1);
}

@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 990px) {
  .contact_info {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .contact_info_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contact_info_image img {
    width: 100%;
    max-width: 345px;
    height: auto;
  }

  .contact_container {
    column-gap: 20px;
    padding: 15px;
  }

  .contact_info_title h2 {
    font-size: 2rem;
  }

  .contact_list_item span i {
    font-size: 1.4rem;
  }

  .contact_social_links {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) {
  .contact_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px;
  }
  .contact_info {
    width: 50%;
  }
  .contact_form {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .contact_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }
  .contact_section {
    margin-top: 100px;
  }
  .contact_info {
    width: 100%;
  }
  .contact_form {
    width: 100%;
  }
  .contact_info_title,
  .contact_info_image,
  .contact_list {
    display: none;
  }
  .contact_social_links {
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
  }
}
