.skill_item {
  padding: 10px 40px;
  margin: 20px 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 1rem;
  border-radius: 50%;
  background-color: var(--text-secondary);
  color: var(--text-primary);
  position: relative;
}

.skill_item span i {
  font-size: 3rem;
  color: var(--text-primary);
}
.skill_item h5 {
  font-size: 1rem;
  color: var(--text-primary);
}
.skill_item:hover i {
  color: var(--background);
}
.skill_item:hover h5 {
  color: var(--background);
}
.skill_item::before,
.skill_item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  width: calc(100% + 9px);
  height: calc(100% + 9px);
}
.skill_item::before {
  top: -5px;
  left: -5px;
  border-radius: 50%;
  border-top: 4px solid var(--accent);
  border-left: 4px solid var(--accent);
}
.skill_item::after {
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border-right: 4px solid var(--accent);
  border-bottom: 4px solid var(--accent);
}
@media (max-width: 768px) {
  .skill_item {
    padding: 10px 0;
    height: 34px;
    border-radius: 5px;
    margin: 5px 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .skill_item span i {
    font-size: 1.6rem;
  }
  .skill_item h5 {
    font-size: 0.9rem;
  }
  @media (max-width: 768px) {
    .skill_item::before,
    .skill_item::after {
      display: none;
    }
  }
}
