.section_subtitle {
  text-align: center;
  border: 2px solid var(--text-primary);
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--shade-medium);
}
.section_subtitle h2 {
  color: var(--accent);
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
}
