.projects_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  max-width: 1200px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  /* margin-bottom: 2rem; */
  /* padding-bottom: 10px; */
  letter-spacing: 2px;
}

.title_span {
  color: var(--accent);
  font-weight: bold;
}

.projects_grid {
  width: 100%;
  padding: 0 4px;
}

.projects_grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.project_card_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}

.project_card_container:hover {
  cursor: pointer;
}

.project_card_container h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--primary);
  margin: 0;
  padding: 0;
  text-align: center;
}
.project_card_container p {
  font-size: 16px;
  font-weight: 400;
  max-height: 4.6em;
  line-height: 1.3;
  color: var(--secondary);
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.project_card_technologies {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  width: 100%;
  height: 80px;
  max-width: 360px;
  justify-content: center;
}

.project_card_technologies p {
  border-radius: 6px;
  border: 2px solid var(--shade-medium);
  padding: 2px;
  background-color: var(--text-primary);
  color: var(--background);
  font-size: 0.99rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 2px 2px 0 0 var(--accent), 2px 2px 0 2px var(--text-primary);
}

.project_card_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: 2px solid var(--accent);
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
}

.projects_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding-top: 70px;
  border-bottom: 2px solid var(--accent);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.projects_title h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 100px;
}
@media (max-width: 990px) {
  .project_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .projects_container {
    margin: 100px auto;
  }

  .projects_grid {
    padding: 0 15px;
  }

  .project_card {
    flex-direction: column;
    padding: 15px;
  }

  .project_card_container {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .projects_grid {
    padding: 0 10px;
  }

  .project_card_container {
    padding: 10px;
  }

  .project_card {
    padding: 10px;
  }
}
