.blog_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: translateZ(100px);
}
.blog_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding-top: 70px;
  margin-top: 90px;
  border-bottom: 2px solid var(--accent);
  width: 100%;
  text-align: center;
}
.blog_title h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 100px;
}
.blog_title h2 span {
  color: var(--accent);
}
