.header {
  width: 100%;
  height: 84px;
  line-height: 80px;
  background-color: var(--background);
  border-bottom: 1px solid var(--accent);
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  position: fixed; /* Changed to fixed to keep the header at the top */
  top: 0; /* Ensure it stays at the top */
  left: 0; /* Align to the left */
  z-index: 99;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_shrink {
  width: 100%;
  height: 84px;
  line-height: 80px;
  box-shadow: 5px 5px 15px -5px var(--accent);
  transition: 0.8s;
}
.logo h1 {
  font-size: 2rem;
  margin-bottom: 0;
  cursor: pointer;
}
.logo h1 span {
  cursor: pointer;
  color: var(--accent);
}
.mobile_logo {
  display: none;
}
.nav_menu {
  display: flex;
  align-items: center;
  column-gap: 2.8rem;
}
.nav_menu a {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.nav_menu a:hover {
  color: var(--text-secondary);
}
.mobile_menu i {
  font-size: 1.3rem;
  color: var(--text-primary);
  cursor: pointer;
}
.mobile_menu {
  display: none;
}
.theme_buttons {
  display: grid;
  grid-template-columns: 1fr;
}
.theme_buttons div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.theme_single_button {
  margin: 0px 4px;
  padding: 4px 10px;
  background-color: var(--background);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  cursor: pointer;
  transition: all 0.3s ease;
}
.theme_single_button:hover {
  border-radius: 8px 25px !important;
  border: 1px solid var(--accent) !important;
  color: var(--accent);
}

@media (max-width: 992px) {
  .logo h1 {
    font-size: 1.3rem !important;
  }
  .mobileLogo {
    display: contents;
    margin-bottom: 30px;
  }
  .mobileLogo h1 {
    font-size: 2rem;
    margin-bottom: 0;
    cursor: pointer;
  }
  .mobileLogo h1 span {
    cursor: pointer;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 99999;
    display: none;
  }
  .nav_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .mobile_menu {
    display: block !important;
  }
  .menu_active {
    display: block !important;
  }
  .menu_line {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu_line::before,
  .menu_line::after,
  .menu_line div {
    content: "";
    width: 30px; /* Adjust width as needed */
    height: 4px; /* Adjust height as needed */
    background-color: var(--text-primary); /* Change color as needed */
    margin: 4px 0; /* Space between lines */
    transition: all 1s ease; /* Smooth transition */
  }
  .mobile_logo {
    display: content !important;
  }
  .mobile_logo_title {
    font-size: 2rem;
    margin-bottom: 0;
    cursor: pointer;
  }

  .mobile_logo h1 span {
    color: var(--accent);
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .theme_single_button {
    margin: 0px 2px;
  }
}
