.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h1 {
  font-size: 2rem;
  margin-bottom: 0;
  cursor: pointer;
}
.logo h1 span {
  cursor: pointer;
}
.mobile_logo {
  display: none;
}
.nav_menu {
  display: flex;
  align-items: center;
  column-gap: 2.8rem;
}
.nav_menu a {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.nav_menu a:hover {
  color: var(--text-secondary);
}
.header {
  width: 100%;
  height: 84px;
  line-height: 80px;
}
.mobile_menu i {
  font-size: 1.3rem;
  color: var(--text-primary);
  cursor: pointer;
}
.mobile_menu {
  display: none;
}

@media (max-width: 992px) {
  .logo h1 {
    font-size: 1.3rem !important;
  }
  .mobileLogo {
    display: contents;
    margin-bottom: 30px;
  }
  .mobileLogo h1 {
    font-size: 2rem;
    margin-bottom: 0;
    cursor: pointer;
  }
  .mobileLogo h1 span {
    cursor: pointer;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 99999;
    display: none;
  }
  .nav_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .mobile_menu {
    display: block !important;
  }
  .menu_active {
    display: block !important;
  }
  .menu_line {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu_line::before,
  .menu_line::after,
  .menu_line div {
    content: "";
    width: 30px; /* Adjust width as needed */
    height: 4px; /* Adjust height as needed */
    background-color: var(--text-primary); /* Change color as needed */
    margin: 4px 0; /* Space between lines */
    transition: all 1s ease; /* Smooth transition */
  }
}
