:root {
  --background: white;
  --text-primary: #1a1a1a;
  --text-secondary: #b0b0b0;
  --accent: #fc4c02;
  --shade-dark: #333333; /* A darker, bold neutral */
  --shade-medium: #666666; /* A mid-tone neutral gray */
  --shade-light: #f2f2f2; /* A very light gray/near white */
  --shade-soft: #ff7e32;
}
[data-theme="dark"] {
  --background: #121212;
  --text-primary: white;
  --text-secondary: #b0b0b0;
  --accent: #ff69b4;
  --shade-dark: #2f2f2f; /* A darker neutral shade */
  --shade-medium: #6c757d; /* A muted gray */
  --shade-light: #d3d3d3; /* A lighter neutral */
  --shade-soft: #ffc0cb;
}

[data-theme="blue"] {
  --background: #001f3f;
  --text-primary: #ffffff;
  --text-secondary: #0074d9;
  --accent: #7fdbff;
  --shade-dark: #008080;
  --shade-medium: #000080;
  --shade-soft: #7df9ff;
  --shade-light: #4682b4;
}

[data-theme="green"] {
  --background: #3d9970;
  --text-primary: #111;
  --text-secondary: #2ecc40;
  --accent: #01ff70;
  --shade-dark: #808000;
  --shade-medium: #228b22;
  --shade-soft: #98ff98;
  --shade-light: #32cd32;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.themeButtons {
  display: flex;
  gap: 10px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
